name: Sync sync-origin to sync-mirror

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      # Clone sync-origin
      - name: Clone sync-origin
        run: |
          git clone https://penguinspizza:${{ secrets.PAT }}@github.com/penguinspizza/sync-origin.git
          cd sync-origin
          git config --global user.name "penguinspizza"
          git config --global user.email "penguinspizza@users.noreply.github.com"

      # Clone sync-mirror
      - name: Clone sync-mirror
        run: |
          git clone https://penguinspizza:${{ secrets.PAT }}@github.com/penguinspizza/sync-mirror.git
          cd sync-mirror
          git config --global user.name "penguinspizza"
          git config --global user.email "penguinspizza@users.noreply.github.com"

      # Remove all files in sync-mirror
      - name: Remove all files in sync-mirror
        run: |
          cd sync-mirror
          rm -rf *

      # Copy all files (including hidden ones) from sync-origin to sync-mirror
      - name: Copy files from sync-origin to sync-mirror
        run: |
          ls -la
          cp -r sync-origin/. sync-mirror/  # 隠しファイルも含めてコピー
          ls sync-origin -la
          ls sync-mirror -la

      # Commit and Force Push changes to sync-mirror
      - name: Commit and Force Push changes to sync-mirror
        run: |
          cd sync-mirror
          git status
          git add .
          git status
          git commit -m "Sync from sync-origin"
          git push --force origin main
